body{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    margin-top: 0;
}

.conteneur_general{
    max-width: 1440px;
    margin-left: 10%;
    margin-right: 10%;
}

ul{
    list-style-type: none;
}

#nav-desktop ul {    
    display: flex;
    align-content: center;
    justify-content: flex-end;
    padding-left: 0;
    padding-right: 0;
    margin:0;
}


.inscription{
    font-weight: bold;
    color:  #0065FC;
    border-top: solid 2px rgba(100, 60, 0, 0);
}

.onglet{
    border-top: solid 2px rgba(100, 60, 0, 0);
}



#nav-desktop li{
    padding: 0px 15px;
}
#nav-desktop li:hover{
    border-top: solid 2px #0065FC;
    color: #0065FC;
    cursor: pointer;
}

#nav-mobile ul{
    display: flex;
    padding-left:0;
    margin:0;
}

#onglets-mobile li{
    width: 50%;
    height: 50px;
}

nav li{
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.logo-container{
    margin-left: 0;
margin-right: auto;
padding: 0;
height: 80px;
position: relative;
top: 25px;
}

@media (max-width: 769px){
    #nav-desktop{
        display:none;
    }
}
@media (min-width: 769px){
    #nav-mobile{
        display:none;
    }
}

h2{
    font-size: large;
    font-weight: bold;
}

.wrap{
    width: fit-content;
}

.search{
    width:100%;
    display: flex;
}

.icon-box{
width: 40px;
height: 40px;
text-align: center;
vertical-align: middle;
line-height: 40px;
background-color: #F2F2F2;
border: 1px solid #F2F2F2;
border-radius: 14px 0px 0px 14px;
transition: 0.3s;
}

.icon-box:hover{
    cursor: pointer;
    font-size: 130%;
    transition: 0.3s;
}

.searchTerm{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-right: none;
    border-left: none;
    padding-left: 1em;
    font-weight: bold;
    font-family: "Raleway";
}

::placeholder{
    color: black;
}

::-ms-input-placeholder{
    color:black;
}

.searchButton{
    color:white;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 14px 14px 0;
    padding: 0 1em 0 1em;
    font-family: "Raleway";
}

.searchButton:focus{
    outline: none;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }

.ripple:hover {
    background: #1473ff radial-gradient(circle, transparent 1%, #3586ff 1%) center/15000%;
    border-color: #1473ff;
    cursor: pointer;
  }

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background-color 1s;
}
  
.section-filtres{
    display: flex;
    align-items: center;
}

.section-filtres ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.section-filtres ul i{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    right: 3px;
    
}

.section-filtres li{
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 36px;
    padding-right: 1em;
    margin: 0.5em 2em 0.5em 0;
    font-weight: bold;
}

.info-container{
    display: flex;
    align-items: center;
}

.info-container i {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    margin-right: 1em;
    font-size: small;
}

.section-milieu{
    display: flex;
    justify-content: space-between;
}

main {
    flex: 2;
    height: 650px;
    margin-right: 4%;
    overflow: hidden;
    background-color: #F2F2F2;
    padding: 1em 4% 2em 4%;
    border-radius: 14px;
}

.ligne{
    display: flex;
    justify-content: space-between;
}

.carte1{
    width: 30%;
    height: 250px;
    border: 4px solid white;
    border-radius: 14px;
    box-shadow: 5px 5px 10px #c0c0c0;
    margin-bottom: 1em;
    background-color: white;
}

.carte1 .container-photo{
    border-radius: 14px 14px 0 0;
    height: 55%;
    overflow: hidden;
    background-position: center;
    background-size:cover;
}

#Auberge_de_la_Canebière{
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#Hotel_du_port{
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#Hotel_Les_mouettes{
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#Hotel_de_la_mer{
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#Auberge_Le_Panier{
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#Hotel_chez_Amina{
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg")
}

#Afficher_plus{
    font-size: large;
    font-weight: bold;
}

.bleu{
    color: #0065FC;
}

.gris{
    color: #F2F2F2;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    margin-top: 0;
}

.coté-droit{
    display: flex;
    flex:1;
    flex-direction: column;
    
    background-color: #F2F2F2;
    height: 650px;
    overflow: hidden;
    padding: 1em 2em 2em 2em;
    border-radius: 14px;
}

.coté-droit > h2 > i {
    float: right;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.carte2{
    background-color: white;
    border: 4px solid white;
    border-radius: 14px;
    height:30%;
    display: flex;
    box-shadow: 5px 5px 10px #c0c0c0;
}

.carte2 .container-photo{
    border-radius: 14px 0 0 14px;
    width:150px;
    overflow: hidden;
    margin-right: 1em;
    background-position:center;
    background-size:cover;
}

.bloc-texte{
    width: 60%;
}

.push-bottom{
}

#Hotel_le_soleil_du_matin{
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-repeat:no-repeat;
    
}

#Au_coeur_de_l_eau_Chambres_d_hôtes{
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-repeat:no-repeat;
    
}

#Hôtel_Tout_bleu_et_blanc{
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-repeat:no-repeat;
}

